html {
  height: 100%;
  background: url("../assets/images/heroPattern.svg");
  background-size: 50%;
  padding-bottom: 55px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: "bodyRegular";
}

input {
  font-family: "bodyRegular";
  outline: none;
  border: none;
}
input::selection {
  background: #6366f1;
  color: white;
}
input:focus {
  outline: none;
  border: none;
}

h2 {
  margin: 0px;
  font-family: "title";
}

#app {
  padding: 21px 89px 21px 21px;
}

.fuzzySearch:first-of-type {
  margin-top: 0px;
}

.fuzzySearch {
  width: 100%;
  max-width: 384px;
  position: relative;
  margin-top: 34px;
}

.fuzzySearch h2 {
  color: #32274d;
  padding: 0px 0px 13px 0px;
}

.fuzzySearchStateLabel {
  position: relative;
  bottom: 2px;
  left: 5px;
}

.fuzzySearchStateLabel .decoration {
  position: absolute;
  width: 64px;
  height: 4px;
  background: #6366f1;
  top: 27px;
  border-radius: 5px;
}

.fuzzySearch .icon {
  position: absolute;
  bottom: 5px;
  left: 10px;
  z-index: 1;
}

#productSearchNoResultsIndicator {
  position: absolute;
  background: white;
  margin-top: 13px;
  box-shadow: 0px 1px 8px rgb(0 0 0 / 21%);
  visibility: hidden;
  left: 21px;
  width: fit-content;
  font-size: 0.84em;
  padding: 13px;
  border-radius: 13px;
}

.fuzzySearch .icon img {
  width: 20px;
}

.fuzzySearch input {
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.21);
  border: 0px;
  border-radius: 21px;
  padding: 10px 13px 10px 34px;
  width: 100%;
  font-size: 0.89em;
  transition: 0.21s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.fuzzySearch input:focus {
  outline: none;
  box-shadow: 0px 0px 13px rgba(99, 102, 241, 0.89);
}

.fuzzySearch .bigInput {
  position: relative;
  left: 8px;
  top: 3px;
}

.fuzzySearch .bigInput .overlay {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 16px;
  top: 0px;
  left: 0px;

  height: 100%;
  background: white;
  border-radius: 21px;
  visibility: hidden;
  z-index: 1;
}
.fuzzySearch .bigInput .overlay .brand {
  color: #808080;
  padding: 0px 0px 0px 22px;
  font-size: 0.64em;
  white-space: nowrap;
}
.fuzzySearch .bigInput .overlay .title {
  font-family: "bodyBold";
  color: #32274d;
  padding: 0px 0px 0px 5px;
  white-space: nowrap;
  font-size: 0.64em;
}

.fuzzySearch .bigInput .overlay .back {
  padding: 13px;
  position: absolute;
  left: 0px;
  top: -3px;
  cursor: pointer;
}
.fuzzySearch .bigInput .overlay .back img {
  width: 21px;
}

.fuzzySearch .clear {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 12px;
  bottom: 10px;
  border-radius: 13px;
  width: 21px;
  height: 21px;
  background: white;
  z-index: 2;
  cursor: pointer;
  transform: scale(0.89);
  visibility: hidden;
}

.fuzzySearch .resultsList {
  margin-left: 13px;
  padding-bottom: 55px;
  position: absolute;
  margin-top: 13px;
  width: 100%;

  /* visibility: hidden; */
}

.fuzzySearch .resultsList .result:first-child {
  margin: 0px 0px 0px 0px;
}

.fuzzySearch .resultsList .label {
  border-radius: 13px;
  background: white;
  box-shadow: 0px 1px 13px rgb(0 0 0 / 21%);
  padding: 8px;
  margin: 8px 0px 0px 0px;
  position: absolute;
}

.fuzzySearch .resultsList .result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  border-radius: 13px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 13px rgb(0 0 0 / 21%);
  padding: 13px;
  margin: 8px 0px 0px 0px;
  transition: 0.13s ease-in-out all;
}

.fuzzySearch .resultsList .result:hover {
  transform: scale(1.01);
}

.fuzzySearch .resultsList .result .left,
.fuzzySearch .resultsList .result .right {
  display: flex;
}

.fuzzySearch .resultsList .result .left {
}

.fuzzySearch .resultsList .result .left .name {
  padding: 0px 0px 0px 5px;
}

.fuzzySearch .resultsList .result .right {
  text-align: right;
  flex-direction: column;
}
.fuzzySearch .resultsList .result .right .price {
  position: relative;
  bottom: 3px;
  font-size: 1.08em;
}

.fuzzySearch .resultsList .result .title {
  font-family: "title";
  line-height: 16px;
  color: #32274d;
}

.fuzzySearch .resultsList .result .thumbnail {
  border-radius: 34px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.21);
  background-repeat: no-repeat;
  position: relative;
  width: 34px;
  height: 34px;
  background-size: cover;
  background-position: center;
}

.fuzzySearch .selectedProductIndicator {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  background: white;
  display: flex;
  z-index: 1;
  padding-left: 17px;
  border-radius: 13px;
}

.fuzzySearch .selectedProductIndicator .brand {
  color: rgba(0, 0, 0, 0.64);
  padding: 0px 5px 0px 0px;
}

.fuzzySearch .selectedProductIndicator .title {
  font-family: "title";
  color: #32274d;
}

.fuzzySearch .resultsList .result .brand {
  font-size: 0.55em;
  color: rgba(0, 0, 0, 0.64);
  padding: 3px 0px 0px 0px;
}

.fuzzySearch .resultsList .result .rating {
  position: relative;
  display: flex;
  top: -12px;
  flex-direction: row;
  justify-content: flex-end;
  visibility: hidden;
  height: 10px;
  color: transparent;
}

.fuzzySearch .resultsList .result .rating .star {
}

.fuzzySearch .resultsList .result .rating .star img {
  width: 8px;
}

.fuzzySearch .productView {
  position: absolute;
  margin-top: 13px;
  width: fit-content;
  max-width: 384px;
  display: flex;
  flex-direction: column;
  background: white;
  margin-left: 13px;
  padding: 9px 16px 16px 13px;
  box-shadow: 0px 3px 13px rgb(0 0 0 / 13%);
  border-radius: 13px 13px 34px 13px;
  transform: translate(34px, 0px);
  z-index: 3;
  visibility: hidden;
}

.fuzzySearch .productView .title {
  font-size: 1.34em;
  font-family: "title";
}

.fuzzySearch .productView .brand {
  font-size: 0.55em;
}

.fuzzySearch .productView .description {
  font-size: 0.89em;
  font-family: "bodyRegular";
  padding: 2px 13px 13px 0px;
}

.fuzzySearch .productView .primaryButton {
  background-image: linear-gradient(155deg, #d4fc79 0%, #96e6a1 100%);
  color: white;
  border-radius: 13px 13px 21px 13px;
  padding: 8px 13px;
  text-shadow: 0px 0px 5px rgb(36 105 32);
  cursor: pointer;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font-size: 0.89em;
  box-shadow: 0px 5px 21px rgb(80 175 87 / 89%);
}

.fuzzySearch .productView .primaryButton .price {
  font-size: 1.64em;
}

.fuzzySearch .productView .productViewImages {
  display: flex;
  flex-wrap: wrap;
}
.fuzzySearch .productView .productViewImages .image:first-child {
  margin: 8px 8px 8px 0px;
}
.fuzzySearch .productView .productViewImages .image {
  width: 55px;
  height: 55px;
  border-radius: 8px;
  background-size: cover;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.13);
  margin: 8px;
  opacity: 0;
}

.fuzzySearch .resultsList .result .microloader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fuzzySearch .resultsList .result .microloader div {
  width: 10px;
  height: 10px;
  border-left: solid 1px #6366f0;
  border-top: solid 1px #6366f0;
  border-right: solid 1px #6366f0;
  border-radius: 13px;
}
